<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.board.mapper.ReplyMapper">
	<select id="getList" resultType = "com.yedam.board.service.ReplyVO" >
		SELECT rpl.rno
			 , rpl.bno
			 , rpl.reply
			 , rpl.replyer
			 , rpl.replydate
			 , rpl.updatedate
		  FROM tbl_reply rpl
		 WHERE rpl.bno = #{bno}
		 ORDER BY rpl.rno desc
	</select>
	
		
	<insert id = "replyInsert" parameterType = "com.yedam.board.service.ReplyVO">
		<selectKey keyProperty ="rno" order="BEFORE" resultType="int">
		SELECT SEQ_REPLY.NEXTVAL FROM DUAL
		</selectKey>
		insert into tbl_reply (rno
			 , bno
			 , reply
			 , replyer)
		values (#{rno}, #{bno}, #{reply},#{replyer})
	</insert>
	
	<update id="replyUpdate">
		update tbl_reply
		   set reply = #{reply}
		     , content = #{content}
		 where bno = #{replyer}
	</update>
	
	<delete id="replyDelete" statementType="CALLABLE" parameterType="map">
		DELETE from tbl_reply where rno = #{rno}
	</delete>
</mapper>